{% extends "base.html" %}

{% block title %}
    <title>Password reset complete!</title>
{% endblock %}

{% block header %}
    <h2>Password reset complete!</h2>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_save.css' %}">
{% endblock %}


{% block content %}
            <!-- Блок с изображением -->
    <div class="image-container">
        <img src="{% static 'accounts/password_save.jpeg' %}" alt="Side Image">
    </div>
{% endblock %}