{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Password reset request sent</title>
{% endblock %}


{% block header %}
    <h2>Password reset request sent</h2>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/email_password.css' %}">
{% endblock %}


{% block content %}
    <div style="text-align: center;">
        <p>We've emailed you with instructions on how to reset your password.</p>
    </div>
            <!-- Блок с изображением -->
    <div class="image-container">
        <img src="{% static 'accounts/email_password.jpeg' %}" alt="Side Image">
    </div>

{% endblock %}
