{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Forbidden:403</title>
{% endblock %}

{% block header %}
  <h2>Forbidden</h2>
{% endblock %}

{% block content %}
    <h1>You do not have permission to access this resource.</h1>

    <div style="text-align: center;">
        <img src="{% static 'error_page/403.jpeg' %}" alt="Static Image" style="width: 425px; height: 264px;">
    </div>

    <div>
        <a class="btn btn-primary" href="{% url 'core:index' %}">Go to Home</a>
    </div>
{% endblock %}
