.image-container {
    display: flex;
    justify-content: center; /* Центрируем изображение */
}

.image-container img {
    width: 70%; /* Уменьшаем изображение на 30% (оставляем 70% от оригинального размера) */
    height: 500px; /* Устанавливаем фиксированную высоту */
    object-fit: cover; /* Обрезаем изображение, чтобы оно заполнило контейнер */
    border-radius: 15px; /* Закругляем углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем легкую тень для эффекта */
}