.rounded-image {
    border-radius: 20px; /* Установите радиус для закругления углов */
    overflow: hidden; /* Скрывает любые переполнения */
    width: 1024px; /* Ширина изображения */
    height: 800px; /* Высота изображения */
}