/* Стили для ключевых слов */
.keyword {
    color: blue; /* Цвет ключевых слов */
    font-weight: bold; /* Жирный шрифт для ключевых слов */
}

code {
    color: #fff; /* белый текст для кода */
}

.green-text {
    color: green;  /* Установите нужный цвет */
}

/* Стили для блока кода */
pre code {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    padding: 10px; /* Отступы внутри блока */
    border-radius: 5px; /* Закругленные углы */
    display: block; /* Блоковое отображение */
    overflow: auto; /* Прокрутка при необходимости */
    white-space: pre-wrap;  /* Чтобы сохранялись отступы */

.content {
    margin-bottom: 60px !important; /* Принудительный отступ */
}

.margin-bottom-large {
    margin-bottom: 40px !important; /* Принудительный отступ для кнопки */
}
