.image-container {
    flex-grow: 1; /* Позволяет изображению занимать оставшееся пространство */
    height: 100vh; /* Задаем высоту контейнера, например, 100% высоты экрана */
    overflow: hidden; /* Скрыть лишнюю часть изображения */
}

.image-container img {
    width: 100%; /* Изображение растянется на всю ширину родительского контейнера */
    height: auto; /* Высота будет автоматически подстраиваться для сохранения пропорций */
    max-height: 80%; /* Ограничиваем максимальную высоту, чтобы изображение не выходило за границы контейнера */
    object-fit: cover; /* Сохраняет пропорции и обрезает изображение, если оно не вписывается */
    border-radius: 10px; /* Закругляем углы изображения */
}