{% if page_obj %}
    <div class="pagination">
        <span class="step-links d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary rounded-circle mx-1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ request.query_params }}" class="btn btn-outline-secondary rounded-circle mx-1">&lsaquo;</a>
            {% endif %}

            <span class="current mx-2 align-self-center">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ request.query_params }}" class="btn btn-outline-secondary rounded-circle mx-1">&rsaquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary rounded-circle mx-1">&raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}