{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Info</title>
{% endblock %}

{% block header %}
    <h2>{% if source %}Info: {{ source.title }}{% else %}Info{% endif %}</h2>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/information_list.css' %}">
{% endblock %}

{% block content %}

    {% if information %}

        <h4 style="font-size: 20px; font-weight: normal;">
            {{ info_text|safe|linebreaks }}
        </h4>

        {% if user.is_authenticated and user.is_superuser %}
            <div>
                <a href="{% url 'source:information_update' information.id %}" class="btn btn-outline-success">Update Info</a>
            </div>
        {% endif %}

    {% else %}

        {% if user.is_authenticated and user.is_superuser %}
            <h3>Create New Information</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div style="display: flex; justify-content: flex-end;">
                    <button type="submit" class="btn btn-outline-success">Create Info</button>
                    {% if information %}
                        <a href="{% url 'source:information_update' information.id %}" class="btn btn-outline-success">Update Info</a>
                    {% endif %}
                </div>
            </form>
        {% endif %}

        <p>No Information yet :(</p>
    {% endif %}

{% endblock %}

