{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Source list</title>
{% endblock %}

{% block header %}
    <h1>Source list {{ topic.name }}</h1>
{% endblock %}

{% block content %}

    <!-- Форма поиска топиков -->
    <div class="container-fluid mb-4">
        <form class="d-flex" role="search" method="GET" action="{% url 'source:search_source' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Search source" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    {% if user.is_authenticated and user.is_superuser %}
        <h3>Create New Source</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="display: flex; justify-content: flex-end;">
                <button type="submit" class="btn btn-outline-success">Create Source</button>
            </div>
        </form>
    {% endif %}

    {% if sources %}
        <div class="row mt-4">
            {% for source in sources %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ source.image.url }}" alt="Source Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ source.title }}</h5>
                            <p class="card-text">{{ source.description }}</p>
                            <div>
                                {% if source.information_list.exists %}
                                    {% for information in source.information_list %}

                                        <a href="{% url 'source:information_list' information.id %}" class="btn btn-outline-info">DETAILS</a>

                                        {% if user.is_authenticated and user.is_superuser %}
                                            <a href="{% url 'source:source_update' source.id %}" class="btn btn-outline-secondary">Update</a>
                                        {% endif %}
                                    {% endfor %}

                                {% else %}

                                    {% if user.is_authenticated and user.is_superuser %}
                                        <a href="{% url 'source:information_create' source.id %}" class="btn btn-outline-success">Create Info</a>
                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="p-1 m-1">
            {% include 'includes/pagination.html' %}
        </div>
    {% else %}
        <p>No Source yet :(</p>
    {% endif %}
{% endblock %}