{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edit</title>
{% endblock %}

{% block header %}
    <h2>Update {{ source.title }}</h2>
{% endblock %}


{% block content %}

        {% if user.is_authenticated and user.is_active %}
            <h3>Edit {{ source.title }}</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="m-3 p-2" style="display: flex; justify-content: flex-end;">
                    <button type="submit" class="btn btn-outline-success me-2">Update Source</button>
                    <input type="button" class="btn btn-outline-secondary" value="Back" onclick="history.back()">
                </div>
            </form>
        {% endif %}

{% endblock %}