{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Topic list</title>
{% endblock %}

{% block header %}
    <h1>Topic list</h1>
{% endblock %}


{% block content %}
    {% if user.is_authenticated and user.is_active %}
        <h3>Create New Topic</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="display: flex; justify-content: flex-end;">
                <button type="submit" class="btn btn-outline-success">Create Topic</button>
            </div>
        </form>
    {% endif %}

    {% if topics %}
        <div class="row mt-4">
            {% for topic in topics %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ topic.image.url }}" alt="Topic Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ topic.name }}</h5>
                            <a href="{% url 'source:source_list' topic.id %}" class="btn btn-outline-warning">DETAILS</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="p-1 m-1">
            {% include 'includes/pagination.html' %}
        </div>
    {% else %}
        <p>No Topic yet :(</p>
    {% endif %}
{% endblock %}
